.Rproj.user
.Rhistory
.RData
.Ruserdata
figures_new
figures
figures_rev2
figures_qc
figures_good
figures_nmds_new
figures_nmds
figures_timeseries
figures_species_timeseries
figures_rda
figures_pca
figures_cor
figures_correlogram